* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 300px;
    height: 100px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: pink;
    text-transform: uppercase;
    font-weight: bold;
}

.btn:hover {
    cursor: pointer;
    background-color: rgba(250, 170, 184, 0.993);
}

.btn:active {
    
    background-color: rgba(248, 197, 206, 0.993);
}